@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    height: 6000px;
    margin: auto;         /* 마진 auto - 내용을 화면 가운데 맞추기 위해  */
    font-family: "Noto Sans KR", "Nanum Square";        /* 글꼴 - 웹 폰트 */
    font-size:14px;     /* 글자 크기 */
}
body #header{
    background-color: black;
    height: 1200px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
body #header h1{
    padding-top: 400px;
}
body #contact{
    height: 1200px;
    margin: auto;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
body #contact h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 150px;
}

body #contact .photoFrame{
    width: 250px;
    height: 300px; 
    border-radius: 70%;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 50px;
    display:inline-block;
    float: left;
    opacity: 0;
    transition: all 0.5s;
}
.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body #contact span div{
    width: 1000px;
    text-align: left;
}
body #contact span h2{
    margin-bottom: 1px;   
}
body .education{
    height: 1800px;
    opacity: 0;
    transition: all 0.5s;
}

body .education h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 150px;
}

body .education .edu1,.edu2{
    margin-left: 10px;
    padding: 15px;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}
body .education .study1,.study2,.study3,.study4{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}
body .education .edu h1{
    text-align: left;
    font-size: 40px;
    margin-bottom: auto;
}

body .education .study h1{
    text-align: left;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: auto;
}
body .education .study h2{
    text-align: left;
    padding-bottom: -px;
}
body .skills{
    height: 1200px;
    opacity: 0;
    transition: all 0.5s;
}
body .skills h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 150px;
}
body .skills i {
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 50px;
}
body .skills .soft {
    text-align: center;
}
body .skills .hard {
    
    margin-left: 100px;
    float:center;
}
body .skills .hard span{
    margin: 25px;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

body .skills p{
    text-align: center;
}

body .career{
    height: 1800px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
}

body .career h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 150px;
}

body .career .career1,.career2{
    width: 100%;
    margin-left:10%;

}
body .career .career1 .ca11{
    padding-left: 50%;
    padding-right: 110px; 
    float: right; 
    border-left: 2px solid;
}
body .career .career2 .ca21{
    padding-left: 50%; 
    float: right; 
    border-left: 2px solid;
}